[advisories]
version = 2
unmaintained = "workspace"
yanked = "workspace"

[licenses]
allow = [
  "Apache-2.0",
  "BSD-3-Clause",
  "CC0-1.0",
  "ISC",
  "MIT",
  "OpenSSL",
  "Unicode-3.0",
  "Zlib",
]
